Repository WhiteBite/shotgun_code: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-test, eslint, eslint-unused

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd backend && golangci-lint run --config .golangci.yml'
  language: system
  pass_filenames: false

go-test:
  name: go-test
  entry: bash -c 'cd backend && go test ./... -short -count=1'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

eslint-unused:
  name: eslint-unused-imports
  entry: bash -c 'cd frontend && npm run lint:unused 2>/dev/null || true'
  language: system
  pass_filenames: false

ci: auto-build on push to main, release on tags
  .github/workflows/build.yml
Due: none

docs: add bilingual README (EN/RU)
  README.md
  README.ru.md
Due: none

chore: remove junk files from root
  image.png
  index.html
  script.js
  styles.css
Due: none

feat: redesign version widget as floating panel
  backend/app_integration_test.go
  backend/application/correction_engine.go
  backend/application/error_analyzer.go
  backend/application/error_analyzer_test.go
  backend/application/git_service_test.go
  backend/application/protocol_integration_test.go
  backend/application/task_protocol_service_simple_test.go
  backend/application/task_protocol_service_test.go
  backend/go.mod
  backend/go.sum
  backend/infrastructure/analyzers/symbol_cache.go
  backend/infrastructure/buildpipeline/pipeline.go
  backend/infrastructure/embeddings/vector_store.go
  backend/infrastructure/memory/context_memory.go
  backend/infrastructure/tasks/decomposer.go
  frontend/src/components/VersionBadge.vue
  frontend/src/components/workspace/ActionBar.vue
Due: golangci-lint, go-test, eslint, eslint-unused

fix: add pathExists mock to frontend tests, fix CSS selectors
  backend/application/ai_service.go
  backend/application/analysis_service.go
  backend/application/intelligent_ai_service.go
  backend/cmd/app/container.go
  backend/domain/ai_defaults.go
  backend/domain/ai_provider_getter.go
  backend/infrastructure/ai/common/errors.go
  backend/infrastructure/ai/common/tokens.go
  backend/infrastructure/ai/common/validation.go
  backend/infrastructure/ai/gemini.go
  backend/infrastructure/ai/localai.go
  backend/infrastructure/ai/openai.go
  backend/infrastructure/ai/qwen.go
  frontend/src/utils/memory-monitor.ts
  frontend/tests/e2e/project-selection.e2e.spec.ts
  frontend/tests/integration/project-selection.spec.ts
  frontend/tests/unit/components/ProjectSelector.spec.ts
  frontend/tests/unit/stores/project.store.spec.ts
Due: golangci-lint, go-test, eslint, eslint-unused

refactor: improve code quality and architecture
  backend/infrastructure/ai/llamacpp.go
  backend/infrastructure/ai/localai.go
  backend/infrastructure/ai/qwen.go
  frontend/vitest.config.ts
Due: golangci-lint, go-test, eslint, eslint-unused

ci: use tag annotation for release changelog
  .github/workflows/build.yml
Due: none

fix: rate_limiter test float comparison
  .gitignore
  TODO.txt
  backend/build/appicon_old.png
  backend/build/windows/icon_.ico
  backend/golangci-lint-report.json
  backend/infrastructure/ratelimit/rate_limiter_test.go
  config/ark_settings.yaml
  examples/go-app/test.txt
  examples/go-app/Текстовый документ.txt
  frontend/package.json.md5
  frontend/vite.config.ts.timestamp-1757416679798-933d599f8d3ec.mjs
  frontend/wailsjs/go/main/App.d.ts
  frontend/wailsjs/go/main/App.js
  frontend/wailsjs/go/models.ts
  frontend/wailsjs/runtime/package.json
  frontend/wailsjs/runtime/runtime.d.ts
  frontend/wailsjs/runtime/runtime.js
Due: golangci-lint, go-test, eslint, eslint-unused

fix: exclude main package from backend tests in CI
  .github/workflows/build.yml
Due: none

chore: update dependencies (Go and npm packages)
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
Due: none

chore: remove unused dependencies (radix-vue, de-indent, eslint patches)
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: add wailsjs mocks for tests to fix CI
  frontend/tests/mocks/wailsjs/go/main/App.ts
  frontend/tests/mocks/wailsjs/go/models.ts
  frontend/tests/mocks/wailsjs/runtime/runtime.ts
  frontend/vitest.config.ts
Due: eslint, eslint-unused

fix: exclude root package and cmd from backend tests in CI
  .github/workflows/build.yml
Due: none

fix: use explicit package paths for backend tests in CI
  .github/workflows/build.yml
Due: none

fix: exclude main.go and app.go from golangci-lint (embed issue)
  backend/.golangci.yml
Due: none

fix: use non-deprecated golangci-lint config options and create dist placeholder
  .github/workflows/build.yml
  backend/.golangci.yml
Due: none

refactor: remove dead code - unused packages and duplicate implementations
  backend/application/error_analyzer.go
  backend/application/router_planner.go
  backend/infrastructure/ratelimit/rate_limiter.go
  backend/infrastructure/ratelimit/rate_limiter_test.go
  backend/infrastructure/taskflowrepo/inmemory.go
  backend/infrastructure/tasks/decomposer.go
  backend/infrastructure/tasks/decomposer_test.go
  backend/infrastructure/textutils/diff_splitter.go
  backend/infrastructure/textutils/diff_splitter_test.go
  backend/infrastructure/tools/analysis_tools.go
  backend/infrastructure/tools/callgraph_tools.go
  backend/infrastructure/tools/executor.go
  backend/infrastructure/tools/executor_test.go
  backend/infrastructure/tools/file_tools.go
  backend/infrastructure/tools/file_tools_test.go
  backend/infrastructure/tools/git_tools.go
  backend/infrastructure/tools/git_tools_test.go
  backend/infrastructure/tools/memory_tools.go
  backend/infrastructure/tools/semantic_tools.go
  backend/infrastructure/tools/types.go
  backend/internal/config/settings.go
  backend/internal/context/service_benchmark_test.go
  backend/internal/context/service_test.go
  backend/internal/context/streaming_test.go
  backend/internal/initmanager/init_manager.go
  backend/internal/project/build.go
  backend/internal/project/formatter.go
  backend/internal/project/service_benchmark_test.go
  backend/internal/project/service_test.go
  backend/internal/project/test.go
  backend/internal/project/verification.go
  backend/internal/workflow/taskflow.go
  backend/testutils/mocks.go
Due: golangci-lint, go-test

refactor: remove duplicate infrastructure packages
  backend/application/taskflow_service.go
  backend/infrastructure/cmdrunner/runner.go
  backend/infrastructure/contextpack/builder.go
  backend/infrastructure/filesystem/provider.go
  backend/infrastructure/symbolgraph/go_builder.go
  backend/infrastructure/uxreports/inmemory.go
  backend/internal/context/service_benchmark_test.go
  backend/internal/project/service_benchmark_test.go
  backend/testutils/mocks.go
Due: golangci-lint, go-test

docs: add urgent tasks to TODO.txt - connect ready infrastructure to tools
  backend/application/correction_engine.go
  backend/application/error_analyzer.go
  backend/domain/taskflow.go
  backend/domain/ux_metrics.go
  backend/handlers/ai_handler.go
  backend/handlers/context_handler.go
  backend/handlers/project_handler.go
  backend/infrastructure/fsscanner/builder.go
  backend/infrastructure/staticanalyzer/clangtidy.go
  backend/infrastructure/staticanalyzer/errorprone.go
  backend/infrastructure/version/releases.go
Due: golangci-lint, go-test

fix: address code review issues in new Vue components
  backend/application/agentic_chat.go
  backend/application/agentic_stream.go
  backend/application/analysis_service.go
  backend/application/guardrail_service.go
  backend/application/qwen_task_service.go
  backend/application/semantic_search_service.go
  backend/application/tool_executor.go
  backend/infrastructure/embeddings/chunker.go
  backend/infrastructure/memory/user_preferences.go
  backend/lint.txt
  frontend/src/components/workspace/CallGraphView.vue
  frontend/src/components/workspace/ContextMemoryPanel.vue
  frontend/src/components/workspace/GitContextPanel.vue
  frontend/src/composables/useI18n.ts
  frontend/src/features/ai-chat/ui/ToolCallDisplay.vue
Due: golangci-lint, go-test, eslint, eslint-unused

fix: localize remaining hardcoded strings in CallGraphView
  frontend/src/components/workspace/CallGraphView.vue
  frontend/src/composables/useI18n.ts
Due: eslint, eslint-unused

chore: update all frontend dependencies to latest versions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Tooltip.vue
  frontend/src/components/workspace/MainWorkspace.vue
  frontend/src/env.d.ts
  frontend/src/features/context/model/context.store.ts
  frontend/src/features/files/model/file.store.ts
  frontend/src/features/files/ui/FileExplorer.vue
  frontend/wailsjs/go/models.ts
Due: eslint, eslint-unused

chore: update dependencies, fix CI, relax linting rules
  .github/workflows/build.yml
  backend/.golangci.yml
  backend/internal/project/service_benchmark_test.go
  backend/internal/project/service_test.go
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Tooltip.vue
  frontend/src/components/workspace/MainWorkspace.vue
  frontend/src/env.d.ts
  frontend/src/features/context/model/context.store.ts
  frontend/src/features/files/model/file.store.ts
  frontend/src/features/files/ui/FileExplorer.vue
  frontend/src/utils/memory-error-handler.ts
  frontend/tests/setup.ts
  frontend/vitest.config.ts
Due: golangci-lint, go-test, eslint, eslint-unused

fix(ci): use manual wails build for macOS to avoid ditto bug
  .github/workflows/build.yml
Due: none

fix: improve file tree contrast and visibility
  frontend/src/assets/styles/tree.css
  frontend/src/assets/styles/variables.css
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
  eslint: any of: \.(vue|ts)$
  eslint-unused: any of: \.(vue|ts)$
